<h1>Haven't you signed in yet </h1>
<form action = "/signin" method = "POST">
<input type = "text" name = "email" value = "email here">
<input type = "password" name = "password" value = "password here">
<input type = "submit" value = "submit">
</form>
<a href="/signup">new user ?</a>